
img {
    height: 10em;
}

h1 {
    margin-left: 20%;
}

#cardsDiv {
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#cardsDiv article {
    border: 1px solid black;
    width: 25%;
}