@font-face {
    font-family: Roboto-medium;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: Roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0em;
    background-color: black;
    overflow-x: hidden;
}

header {
    background-color: black;
    padding: .1rem;
    width: 100%;
}

img {
    height: 10em;
}

h1 {
    margin-left: 20%;
    font-family: Roboto-medium;
    color: #C8493B;
}

h2 {
    font-family: Roboto-regular;
    color: white;
    padding: 0em 1.5em;
}

p {
    font-family: Roboto-light;
    color: white
}

.tagline {
    padding: 0em 1.5em;
}

#cardsDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 60%;
    margin: 0em auto;
    justify-content: space-between;
}

#cardsDiv article {
    width: 30%;
    background-color: #689775;
    margin-top: 2em;
}

#pagination__container {
    width: 60%;
    margin-left: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

#pagination__container button {
    background-color: transparent;
    border: 2px solid #A33326;
    color: #A33326;
    padding: 1em 1.5em;
    font-family: Roboto-medium;
    cursor: pointer;
}

button:focus { outline:none }