@font-face {
    font-family: Roboto-medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);;
}

@font-face {
    font-family: Roboto-light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-light-italic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0em;
    background-color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    padding: .1rem;
    width: 100%;
}

img {
    height: 10em;
}

h1 {
    width: 65%;
    margin: 1em auto;
    font-family: Roboto-medium;
    color: #C8493B;
}

h2 {
    font-family: Roboto-regular;
    color: white;
    padding: 0em 1em;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body > p {
    width: 65%;
    margin: 0em auto;
}

.name {
    min-height: 3em;
}

p {
    font-family: Roboto-light;
    color: white
}

.tagline {
    padding: 1em;
    font-family: Roboto-light-italic;
}

#cardsDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 65%;
    margin: 0em auto;
    margin-bottom: 3em;
    justify-content: space-between;
}

#cardsDiv article {
    width: 30%;
    background-color: #689775;
    margin-top: 2em;
}

#pagination__container {
    width: 65%;
    margin: 0em auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

#pagination__container button {
    background-color: transparent;
    border: 2px solid #A33326;
    color: #A33326;
    padding: 1em 1.5em;
    font-family: Roboto-medium;
    cursor: pointer;
}

#pagination__container button:hover {
    color: black;
    background-color: #A33326;
    transition: 0.2s;
}

button:focus { 
    outline: none 
}

/* Media queries */

@media screen and (max-width: 1300px) {
    #cardsDiv article {
        width: 45%;
        background-color: #689775;
        margin-top: 2em;
        cursor: pointer;
    }
}

@media screen and (max-width: 650px) {
    #cardsDiv article {
        width: 100%;
        background-color: #689775;
        margin-top: 2em;
        cursor: pointer;
    }

    #cardsDiv,
    #pagination__container,
    h1 {
        width: 85%;
    }
}